*{
    margin:0;padding:0;
}
body{
    font-family: "Verdana";font-size:14px;
}
img{
    max-width:100%;height:auto;
}

.clear{
    clear: both;
}

.clearfix:after {
    clear: both;/* Для запрета схлопывания границ блока в котором элементам назначен float
     				чтобы можно было этому блоку назначить например цвет фона*/
    content: "";
    display: table;
}

#karkas{
    max-width:1200px;margin:0 auto;background-color:#fbe5d8;
}

#main_wrapper{
   width:96%;margin:0 auto;height: auto;
}

header{
    position:relative;
}

header > img{
    padding:5px 0 0 20px;
}

#social_icons{
    position: absolute;right:20px;top:2px;
}

#header_background{
    position:relative;
}

#header_background img{
    width:100%;
}

#auth{
    position:absolute;right:20px;bottom:20px;width:280px;height:153px;
    background-color:rgba(241,241,241,0.5);border-radius: 5px;
}

#auth form{
    padding:5px 0  0 20px;
}
#auth form input[name="login"],#auth form input[name="password"]{
    width:195px;height:30px;border-radius: 5px;border:1px solid #645486;display:table-cell;margin-bottom:10px;
    padding-left:10px;color:#9d9d9d;font-style:italic;font-size:12px;
}

#auth > div{
    width:80%;
}

#auth form input[name="enter"]{
    border:none;text-transform: uppercase;color:#f1f1f1;background: none;cursor:pointer;font-family: "Comfortaa";
    font-size: 18px;
    display:block;
    margin:0 auto;
}

.auth_error_message{
    color:red;font-size:12px;margin-left:10px;display:none;
}



#auth .forgot{
   font-size:12px;
    margin-left: 20px;
}

#auth .forgot a{
    text-decoration:none;color:grey;
}

#auth .forgot a:hover{
    text-decoration:underline;
}

.forgot span{
    color:grey;
}

.adaptive_auth{
    display:none;
}

#auth_close_img{
    display:none;
}





/*  если пользователь авторизован */

#authorized{
    position:absolute;right:20px;bottom:20px;width:280px;height:145px;
}
#authorized p,#authorized a{
    color:#fff;font-size:18px;font-family:"Comfortaa";text-align: center;
}



/*   menu    */

nav{
width:100%;height:60px;border-radius:5px;background: linear-gradient(180deg, rgba(223,221,225,1) 0, rgba(125,124,125,1) 100%);

}

#menu{
    float:left; margin: 17px 0 17px 25px;
}
#search{
    float:right;margin: 17px 25px 17px 0;
}

ul.main_menu li{
    list-style: none;display: inline-block;padding-left:24px;
}
 ul.main_menu li:first-child{
    padding-left:0;
}

ul.main_menu>li a{
    padding-bottom:19px;
}

ul.inner_menu{
    background: linear-gradient(180deg, rgba(223,221,225,1) 0, rgba(125,124,125,1) 100%);
    border-radius: 0 0 5px 5px;
    padding-top: 7px;
    position: absolute;z-index: 10;display:none;
}

 ul.inner_menu li{
    display:inline;
}

ul.inner_menu li a{
    background-image:url("../images/separate_line.png");background-repeat:no-repeat;background-position:bottom center;height: 40px;
    padding: 0 30px;
}

ul.inner_menu li:first-child a{
   padding-top:10px;
}

ul.inner_menu li:last-child a{
    background-image: none;
}


#menu ul li a{
    text-decoration:none;color:#020064;font-size:18px;font-family:"Comfortaa";display: block;
}
#menu ul li a:hover{
    text-decoration:underline;
}

#search input[name="search_text"]{
    border-radius:5px;border:1px solid #645486;width:137px;height:22px;font-size:12px;color:#020064;font-style:italic;
    padding-left:13px;
}

#search input[name="search"]{
   width:30px;height:22px;border:none;border-radius:0 5px 5px 0;position:absolute;
    right:0;top:1px;
    background-color: blueviolet;background-image: url(../images/search.png);background-repeat:no-repeat;
    background-position:center center;cursor:pointer;
}

    #search input[name="search_text"]:focus{
        outline:none;
    }

#search div{
    position:relative;
}


/*  adaptive menu */

#adaptive_menu{
    float:left;display:none;
}
    #menu_image{
        width:60px;height:40px;display: inline-block;padding:10px 25px;cursor:pointer;
    }

#adaptive_search{
    float:right;display:none;position:relative;
}
    #search_image{
        height:40px;display: inline-block;padding:10px 25px;cursor:pointer;
    }

#adaptive_search_form {
    display: none;
    float:right;
    width:90%;
    position:relative;
}
    #adaptive_search_form>form{
        width:100%;
        text-align: right;
    }

    #adaptive_search_form input[type='image']{
        width:26px;
    }


    input[name="search_text"]{
        background: none;font-size:18px;color:#363475;border-radius:5px;width:60%;border:2px solid #786495;
    }

    input[name="search_text"]:focus{
        outline:none;
    }

    input[name="search_text"]::-webkit-input-placeholder {
        color: #363475;
    }
    input[name="search_text"]::-moz-placeholder {
        color: #363475;
    }


    #adaptive_search input[name="search"]{
      width:30px;height:22px;
    }

    #adaptive_form_close{
        cursor: pointer;
        display: none;
        position: absolute;
        right: 16px;
        top: -49px;
        width: 30px;
    }

ul#adaptive_main_menu{
    background: rgba(0, 0, 0, 0) linear-gradient(180deg, rgba(223, 221, 225, 1) 0px, rgba(125, 124, 125, 1) 100%) repeat scroll 0 0;
    border-radius: 0 0 5px 5px;
    display: none;
    padding:7px 0 0 10px;
    position: absolute;
    z-index: 10;
    margin-top:-3px;
}

    .inner_adaptive_menu{
        margin-left:10px;display:none;
    }
    #adaptive_main_menu li{
    list-style: none;
    }
        #adaptive_main_menu li a{
            color: #020064;
            font-family: "Comfortaa";
            font-size: 18px;
            text-decoration: none;
            display:inline-block;
            padding: 10px 30px 0 10px;
        }
        #adaptive_main_menu>li:last-child a{
            padding-bottom:10px;
        }





/* end adaptive menu */


/*   end menu    */
/*   content    */



main{
    width:67%;float:left;
}

main.index_content article{
    position:relative;margin-bottom:20px;width:63%;float:right;
}

main.index_content .article_image{
    float:left;margin-right:0;width:35%;height:250px;
}
main.index_content .article_image img{
    max-width:100%;max-height:100%;margin-top:10px;
}

main h1{
    text-transform: uppercase;color:#363475;font-size:24px;text-align:center;font-weight:normal;margin-bottom:10px;
}

 p.tags, p.tags a  {
    color: #9d9d9d;font-size: 12px;font-style: italic;text-decoration:none;margin:-10px 0 10px 0;
}

p.tags a:hover{
    font-weight:bold;
}

main article p{
    font-size:14px;color:#363475;
}

.article_information{
    margin-top: 20px;
}

article .article_information ul{
    display:inline-block;position:relative;
}

article .article_information ul li{
    list-style: none;display:inline-block;padding-right:20px;
}

article .article_information ul li span{
    display: inline-block;position:absolute;top:3px;
}

article .article_information ul li:first-child img{
    cursor:pointer;
}

 .article_date {

    color: #9d9d9d;
    font-size: 12px;
    font-style: italic;
    display:inline-block;
    margin-bottom:10px;
}
.article_information .read_more{
    float:right;background-image: url("../images/read_more.png");background-repeat: no-repeat;
    padding: 4px 18px;background-size:contain;
}

.button{
    text-decoration: none;color:#9d9d9d;font-size:12px;font-style:italic;
    background-position:center center;cursor:pointer
}

 .button:hover{
    text-decoration: underline;
}


/* full_article_content */

main.full_article_content{
    margin-top:0;
}

main p.bread_crumbs,main.full_article_content .bread_crumbs a{
    color: #9d9d9d;font-size: 12px;font-style: italic;
}

main.full_article_content p.bread_crumbs{
    margin-bottom:2px;
}


main.full_article_content img.full_article_header_image{
    max-width:60%;max-height:300px;display:block;margin:0 auto
}

main.full_article_content article>img{
    max-width:40%;max-height:300px;display:block;margin:0 auto
}

main.full_article_content .count_rewiews_img,main.full_article_content .likes_img{
    width:100%; padding-left: 5px;
}


main.full_article_content p{
    text-indent: 20px;margin-bottom:20px;
}

main.full_article_content .article_information{
    margin-top:-10px;margin-bottom:20px;
}


#comments_main div{
margin-bottom:10px;
}

#comments_main p{
    color: #363475;
    font-size: 14px;
}

#comments_main .add_comment_button{
    background-image: url("../images/add_comment.png");background-repeat: no-repeat; padding: 4px 8px;
    display: inline-block;margin-bottom: 20px;
}

#text_comment{
    position:relative;width:370px;max-width:100%;display:none;
}


#text_comment textarea{
    width:370px;height:140px;
}

#text_comment button{
    border:none;background-image: url("../images/read_more.png");border-radius: 5px;
    background-repeat: no-repeat;background-position: center center;padding:3px 24px;background-size:cover;
    margin-top: 10px;
}

#text_comment textarea{
    resize: vertical;
}
span.x{
    position:absolute; right:-6px;top:-4px;cursor:pointer;
}

div.comment{
    margin-left:20px;
}

.comments_left{
    float:left;width:18%;
}

.comments_left div{
    width:100%;
}

.comments_left img{
    width:100%;
}

.comments_left p.login{
    text-align: center;text-indent:0;
}


.comments_right{
    float:right;width:80%;box-sizing: border-box;position:relative;
}

.delete_comment{
    position:absolute;
    right: 0;top:-10px;cursor:pointer;
}

.comments_right button.add_answer{
    background-image: url("../images/read_more.png"); background-position: center center;background-repeat: no-repeat;
    background-size: cover;border: medium none;border-radius: 5px; margin-top:2px;padding: 3px 8px;
}

main.full_article_content p.comment_text{
    margin-bottom:0;!important;
}
button.add_answer{
    float: right;
}

.answer_form{
    position:relative;display:none;
}

.answer_form>form{
    overflow: hidden;
}

.answer_form textarea{
    width:100%;resize:vertical;height:65px;
}

.answer_form span.x_answer{
position:absolute;top:-4px;right:-5px;cursor:pointer;
}

.separate_comments_line{
    margin:0 auto 20px;display:block;width:88%;
}


/* end full_article_content */


/* registration content */

main#registration_content{
    margin-top:0;
}

#registration_form{
    margin-left:20px;
}

td.field_name{
    color:#373576;font-size:16px;
}

main input[type=text],main input[type=password]{
    border-radius:5px;border:none;height: 30px;width: 230px;padding-left:5px;
}

 main input[type=submit]{
    background-image: url("../images/read_more.png");background-position: center center;background-repeat: no-repeat;
    background-size: cover;border: medium none;border-radius: 5px;padding: 3px 10px
}

span.registration_error_message{
    color:red;font-size:12px;padding-left:20px;
}

main table{
    border-spacing: 0 15px;
}

#registration_form #captcha{
    width:150px;display:block;margin:0 auto;
}

p#registration_message{
    color:red;text-align:center;
}

/* end  registration content */

/* search_result_content */

main#search_results_content{

}

main#search_results_content article{
    width:100%;
}

main#search_results_content .article_information{
    margin-top:0;overflow: hidden;
}


/* end search_result_content */



/* edit profile_content */

#edit_profile_content input[type=file]{
    cursor: pointer;
    height: 120px;
    opacity: 0;
    width: 120px;
}

#avatar{
    display: inline-block;
    width: 120px;
}
/* end edit profile_content */

/* sitemap_content */

main#sitemap_content{
    margin-top:0;
}

#sitemap_content ul{
    margin-left:20px;
}

#sitemap_content ul li{
    list-style:none;
}

#sitemap_content ul li a,span{
    text-decoration:none;color:blue;
}

#sitemap_content ul li a:hover{
    text-decoration:underline;
}

#sitemap_content h3{
    margin:5px 0;
}

#sitemap_content h2{
    color: #363475;font-size: 20px;font-weight: normal;
    text-transform: uppercase;margin-top:10px;
}

/* end sitemap_content */

/*   end content    */

/* aside */

aside{
    width:33%;float:right;
}
aside>div{
    padding-left:30px;
}

aside #subscribe_block img{
    width:40%;display:block;margin:0 auto;
}

aside #subscribe_block p{
    font-size:14px;color:#363475;
}

aside .commercial_block{
    margin-bottom:20px;
}

aside .commercial_block img{
    max-width:100%;
}

aside h1{
    font-size:18px;color:#363475;font-weight: normal;text-align:center;margin-bottom:20px
}
/*

стили для инпутов подписки потм пригодяться
aside input[name="subscriber_name"],aside input[name="subscriber_mail"]{
    border-radius: 5px;border:1px solid #776394;width:60%;height:22px;margin-bottom:5px;padding:0 10px;font-style:italic;font-size:12px;color:#9d9d9d;
}
*/

aside #subscribe{
    font-style:italic;font-size:12px;color:#9d9d9d;background-image: url("../images/read_more.png");
    background-repeat: no-repeat;background-position: center center;padding: 10px;border-radius:5px;
    cursor:pointer;text-decoration:none;display:block;margin:0 auto;text-align:center;width:112px;
}

aside #subscribe:hover{
    text-decoration:underline;
}
aside input[name="subscribe"]:hover{
    text-decoration:underline;
}
aside form{
    text-align:center;
}

aside .subscribe_message{
    color:#bc0000;font-size:16px;margin-top:15px;text-align:center;
}

/*  постраничная навигиция */

#navigation{
    width:84%;margin:0 auto;margin-bottom:40px;
}


#navigation td a{
    display:inline-block;background: lightgrey;border-radius: 5px;padding:8px 12px;margin: 0 5px;background: linear-gradient(180deg, rgba(223,221,225,1) 0, rgba(125,124,125,1) 100%);
    ;font-size:18px;text-decoration: none;color:#363475;
}

#navigation td a:hover{
    text-decoration:underline;
}

#navigation td a.current_page{
    font-weight:bold;
}

#navigation .arrow{
    padding: 0 9px 0 4px
}
#navigation .arrow img{
    height: 29px;
    margin-top: 6px;
}

/*  footer */

footer{
    height:120px;width:100%;position:relative;background: linear-gradient(180deg, rgba(90,77,108,1) 0, rgba(115,86,157,1) 100%);
}

footer #copyright{
position:absolute;bottom:5px;left:20px;font-size:12px;color:#767678;
}


footer #footer_logo{
   position:absolute;bottom:5px;right:20px;
}




@media screen and (max-width:975px){

    ul.main_menu li{
        padding-left:16px;
    }

}

@media screen and (max-width:900px){

    #menu,#search{
        display: none;
    }

    #adaptive_menu,#adaptive_search{
        display:block;
    }


    main{
        margin-top:10px;
    }

    main.index_content .article_image{
        float:none;width:50%;margin:0 auto;height:auto;
    }

    main.index_content article{
        float:none;width:100%;margin-bottom:0;
    }
        p.tags,p.tags a{
            margin:-12px 0 0;
        }

    .article_information{
        margin-top:5px;
    }
}

@media screen and (max-width:730px){

    #auth{
        display:none;margin:auto;width:93%;height:85%;
    }

    #auth_close_img{
        display:inline;
    }

    .adaptive_auth{
        display:block; position:absolute;right:20px;bottom:20px;
    }
      header #auth_img{
            width:50px;cursor: pointer;
        }

      header #auth_close_img{
          width:20px;right: 0;position:absolute;cursor:pointer;
      }


    #auth form {
        padding: 5px 0 0 5px;
    }


    #auth form input[name="login"], #auth form input[name="password"]{
        width:60%;margin-bottom:2px;
    }

    #auth form input[name="enter"]{
        display:inline;
    }


    #auth .forgot{
        margin-left:5px;
    }

    main{
        float:none;width:100%;
    }

    aside{
        float:none;width:80%;margin:0 auto;
    }

    #navigation{
        width:90%;margin:10px auto;
    }

    #navigation td a{
        font-size:12px;margin:0;
    }

    #navigation .arrow img{
        height:21px;
    }

    aside{
        width:100%;
    }

    aside >div{
        padding-left:0;
    }

    #subscribe_block{
        width:50%;float:left;
    }

    .commercial_block{
        float:right;width:50%;
    }
}

@media screen and (max-width:480px){
    #subscribe_block{
        width:70%;float:none;margin:0 auto;
    }

    .commercial_block{
        float:none;width:70%;margin:0 auto;
    }

    #navigation table td:first-child>a,#navigation table td:last-child>a{
        display:none;
    }

    footer #footer_logo{
        position:static;text-align: center;
    }

    #authorized {
        bottom: 0; height: 90%; position: absolute; right: 0;width: 100%;
    }


    #menu_image {
        height: 20px;

        padding: 20px 25px;
        width: 35px;
    }

    #search_image {
        height: 30px;
        padding: 15px 25px;
    }

    main.index_content .article_image {
        width: 70%;
    }


    main.full_article_content img.full_article_header_image {
        max-height: 250px;
        max-width: 80%;
    }


}

@media screen and (max-width:360px){

    #auth{
        width:100%;height:100%;right:0;bottom:0;
    }
    #auth form input[name="enter"]{
        font-size:14px;
    }
    #auth form input[name="login"], #auth form input[name="password"]{
        height:24px;width:80%;
    }

    #adaptive_search_form{
        width:100%;
    }
    input[name="search_text"]{
        width:85%;
    }

    #navigation td a{
        padding:5px 8px;
    }
    #navigation .arrow img{
        height:17px;
    }


    span.registration_error_message {
        font-size: 10px;
        padding-left: 0;
    }

    main input[type="text"], main input[type="password"] {
        width: 170px;
    }

    td.field_name {
        font-size: 10px;
    }

}
















